.mc-field-group {
  flex: 1;
  display: flex;

  input {
    @include copy-a(-color(black));

    border-radius: $border-radius;
    flex: 1;
    border: none;
    padding: 0.2rem 0.8rem;
  }

  .asterisk {
    color: red;
  }
}

#mc_embed_signup_scroll {
  width: 100%;
  display: flex;
}

.button {
  @include copy-a(-color(black));

  margin-left: 1rem;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
}