$default-font-color: -color(white);

%heading {
  font-family: sans-serif;
}

%copy {
  font-family: sans-serif;
  line-height: 1.6;
}

@mixin hd-a($color: $default-font-color) {
  @extend %heading;

  font-size: 4.2rem;
  color: $color;
}

@mixin copy-a($color: $default-font-color) {
  @extend %copy;

  color: $color;
  font-size: 1.6rem;
}